/*
 * You should write your CSS in this file.  Don't forget to add your name and
 * @oregonstate.edu email address below.
 *
 * name: Grace Bullock
 * email: bullocgr@oregonstate.edu
 */

header {
    display: inline-flex;
    width: 100%;
    height: 150px;
    padding: 5px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    
    
}

.header-image-container {
/*
    display: inline-block;
    background-color: black;
    height: 150px;
    margin: 0px;
    width: 100%;
    top: -20px; 
    left: -10px;
*/
    
    /*need to fill to the right as well*/
}

.site-title {
    font-family: "Roboto Slab";
    font-size: 65px;
    position: relative;
}

h1 a {
    color:white !important;
}

a:link {
    text-decoration: none;
}

.content {
    display: flex;
    position: relative;
}

.filter-container {
    display: table;
    background-color: #EFEFEF;
    position: relative;
    width: 175px;
    height: 350px;
    top: 160px;
    font-family: Roboto;
    border-radius: 5px;
    padding: 10px;
}

h2 {
    font-family: Roboto;
    font-size: 20px;
}

.filter-input-container {
/*    check out flex*/
    font-family: Roboto;
    padding: 7px;
    
  
}

.filter-input-label {
    font-family: Roboto;
    display: inline-flex;
   
}

.filter-input {
    font-family: Roboto;
    display: inline-flex;
}

#filter-update-button {

    
    /*button will be the same size as the border from above and change the alignment*/
}

.action-button {
    color: white;
    font-family: Roboto;
    background-color: black; 
    border: black;
    width: 155px;
    border-radius: 4px;
    padding: 10px;
    margin-left: 10px;
    
}

.action-button:hover {
    background-color: #F3D0B5;
    color: black;
    border: 1px solid;
    border-color: black;
}

.result {
    display: inline-flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #DFDFDF;
    border-radius: 5px;
    height: 250px;
    vertical-align: middle;
    width: 275px;
    top: 150px;
/*    make this the outline of the blocks*/
}

#results {
    
}

.result-contents {
    vertical-align: left;
    
}

.result-title {
    font-family: Roboto;
    font-size: 20px;
    color: #F78932;
}

.result-title:hover {
    text-decoration: underline;
}

.result-image-container img {
    width: 100%;
    height: 175px;
}

.result-price {
    font-family: Roboto;
    background-color: #EDEDED;
    border-style: solid;
    border-width: 2px;
    border-color: #D0D0D0;
    border-radius: 3px;
}

.result-city {
    font-family: Roboto;
}

#filter-min-price {
    width: 30%;
}

#filter-max-price {
    display: inline-flex;
    width: 30%;
    margin: 5px;
}

#sell-something-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid;
    border-color: #E37115;
    color: white;
    font-size: 25px;
    background-color: #E37115;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#sell-something-button:hover {
    transform: scale(1.25);
}

#filter-text {
    display: inline-flex;
    width: 75%;
}

#filter-city {
    margin: 5px;
    width: 72%;
    
}


