<div class="plant-and-button">
    <div class="plant-image">
        <img src="{{photoURL}}" alt="{{name}}">
        <div class="check-list">
            <div class="plant-watered hidden">
                &#9926
            </div>
            <div class="plant-sun hidden">
                &#9728
            </div>
            <div class="plant-fert hidden">
                &#9880
            </div>
        </div>
    </div>
    <div class="talk-bubble tri-right round btm-left hidden-bubble">
        <div class="talktext">
            <p>{{about}}</p>
        </div>
    </div>

    <div class="tool-buttons">
        <div class=button>
            <div class="button-contents">
                <button class="water">Water</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="fertilize">Fertilize</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="sunlight">Sunlight</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="rename">Rename</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="about">About</button>
            </div>
        </div>

        <div class=button>
            <div class="button-contents">
                <button class="uproot">Uproot</button>
            </div>
        </div>
    </div>
    <div class="plant-nametag">
        <h1 class="plant-name">{{name}}</h1>
    </div>
</div>