<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Virtual Plant</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.runtime.js"></script>
    <script src="plantTemplate.js"></script>
    <script src="index.js" charset="utf-8" defer></script>


    <!-- This is where the css includes will go -->
</head>

<body>
    <header>
        <div class="header-image">
            <img src="https://www.misskatecuttables.com/uploads/shopping_cart/10912/large_cute-sunflower3.png" alt="Sunflower">
        </div>
        <div class="site-title">Virtual Plant</div>
        <!-- this could be dynamic in a handlebar -->
    </header>

    {{{body}}}

</body>

</html>